<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据</title>
    <!-- 引入Layui的CSS文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.9.7/css/layui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* 定义按钮样式 */
        .icon-button {
            background-color: transparent; /* 设置背景为透明 */
            border: none; /* 清除边框 */
            cursor: pointer; /* 设置鼠标样式为手型 */
            /* padding: 12px; 设置内边距 */
            margin: 0; /* 清除外边距 */
            width: 36px; /* 设置宽度 */
            height: 36px; /* 设置高度 */
        }

        /* 设置图标大小 */
        .icon {
            width: 24px; /* 设置宽度 */
            height: 24px; /* 设置高度 */
            fill: currentColor; /* 使用当前文本颜色填充图标 */
        }
        
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            z-index: 1000;
          }
    </style>
</head>
<body>

<div class="layui-container" id="header">
    <div class="layui-row">
        <div class="layui-col-md12">
            <ul class="layui-nav layui-bg-green" lay-filter="type">
                <li class="layui-nav-item layui-this">
                  <a href="javascript:;">成员管理</a>
                </li>
                <li class="layui-nav-item" >
                    <a href="javascript:;">福利排名前15名单</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">当月入团满福利名单</a>
                </li>
              </ul>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-hide" id="members" lay-filter="members"></table>
        </div>
    </div>
<div>

<script type="text/html" id="barDel">
    <div class="layui-clear-space">
        <button class="icon-button">
            <i class="icon fas fa-hand-holding-usd" lay-event="delete"></i>
        </button>
    </div>
</script> 

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add-member">添加成员</button>
    </div>
</script>

<form class="layui-form layui-form-pane popup" action="" style="display: none;" id="add-member-form">
    <div class="layui-form-item">
    <div class="layui-input-wrap">
        <div class="layui-input-prefix">
            <i class="layui-icon layui-icon-username"></i>
        </div>
        <input type="text" name="name" autocomplete="off" placeholder="请输入角色名称" lay-verify="required" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-date"></i>
            </div>
            <input type="text" name="join_date" placeholder="入团时间" class="layui-input demo-search-date">
            <div class="layui-input-suffix">
              <i class="layui-icon layui-icon-down"></i>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">贡献度</label>
            <div class="layui-input-block">
                <input type="number" id="date1" name="contribution" required autocomplete="off" class="layui-input">
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">福利数</label>
            <div class="layui-input-inline">
                <input type="number" name="welfarenum" required autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn" lay-submit lay-filter="add-member-submit">确认</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </form>


<!-- 引入Layui的JS文件 -->
<script src="https://cdn.staticfile.org/layui/2.9.8/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js" integrity="sha256-QvgynZibb2U53SsVu98NggJXYqwRL7tg3FeyfXvPOUY=" crossorigin="anonymous"></script>
<script>
    layui.use(['table'], function() {
        var table = layui.table;
        var element = layui.element;
        var form = layui.form;
        var $ = layui.$;
        var util = layui.util;
        var laydate = layui.laydate;
        // 创建渲染实例
        table.render({
            elem: '#members',
            url: 'members',
            height: function(){
                var otherHeight = $('#header').outerHeight(); // 自定义其他区域的高度
                return $(window).height() - otherHeight - 12; // 返回 number 类型
            },
            toolbar: '#toolbar',
            cellMinWidth: 80,
            editTrigger: 'dblclick',
            cols: [[
                {field:'name', fixed:'left', width:200, 'title': '角色名'} ,
                {field:'date', width:130, title:'入团时间', unresize: true, align: 'center', templet: '#countInput'},
                {field:'welfare_completed', width:130, title:'福利完成数', edit: 'text', align: 'center'},
                {field:'contribution', width:120, title:'贡献度', edit: 'text', sort: true},
                {field:'less_completed_welfare', width:120, title:'漏做福利数'},
                {field:'total_welfare_of_5_days', width:120, title:'当月五天福利数'},
                {field:'total_welfare', width:120, title:'当月总福利数'},
                {field:'completed_5_days_welfare', width:120, title:'是否五天满福利', fixed: 'right'},
                {field:'full_completed_welfare', width:120, title:'是否满福利', fixed: 'right'},
            ]],
            css: [
                // 对开启了编辑的单元格追加样式
                '.layui-table-view td[data-edit]{color: #16B777;}',
                '.layui-table input{text-align: center; width: 100%; height:100%;}'
            ].join(''),
            done: function(res, curr, count) {
                var options = this;
      
                // 获取当前行数据
                table.getRowData = function(tableId, elem) {
                  var index = $(elem).closest('tr').data('index');
                  return table.cache[tableId][index] || {};
                };
                
                table.getInputData = function(tableId, elem, inputId) {
                    return $(elem).closest('tr').find('input[id=' + inputId + ']').val();
                }
                
                // 单元格工具栏事件
                table.on('tool(goods)', function(obj) {
                    var layEvent = obj.event;
                    var data = obj.data;
                    var name = data.name;
                    
                    if (layEvent === "sell") {
                        var count = parseInt(obj.tr.find('#count').val());
                        //var count = parseInt(table.getInputData(options.id, this, "count"));
                        console.log(count);
                        var msg = {
                            "name": name,
                            "count": count
                        };
                        fetch('http://localhost:8888/members', {
                            method: 'Post',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(msg)
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw Error('response not ok');
                            }
                            return response.json();
                        })
                        .then(rsp_data => {

                        })
                        .catch(error => {
                            console.error(error);
                        })
                    }
                    else {
 
                    }
                });
            },
            complete: function(xhr, ts) {

            }
        });
        // 行单击事件( 双击事件为: rowDouble )
       // table.on('row(goods)', function(obj){
       //     var data = obj.data; // 获取当前行数据
       //     
       //     // 标注当前点击行的选中状态
       //     obj.setRowChecked({
       //     type: 'radio' // radio 单选模式；checkbox 复选模式
       //     });
       // });
   
        // 单元格编辑事件
        table.on('edit(members)', function(obj) {
            var value = parseFloat(obj.value); // 修改后的值
            var msg = {
                "name": obj.data.name,
                "sale_price": value
            };
            fetch('http://localhost:8889/members', {
                method: 'Post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(msg)
            })
            .then(response => {
                if (!response.ok) {
                    throw Error('response not ok');
                }
                return response.json();
            })
            .then(rsp_data => {
                msg = '价格修改成功'
                // 显示
                layer.msg(msg, {
                    offset: '65px'
                });
            })
            .catch(error => {
                console.error(error);
            });
        });
        // 工具栏事件
        table.on('toolbar(members)', function(obj){
                var id = obj.config.id;
                var checkStatus = table.checkStatus(id);
                var othis = lay(this);
                switch(obj.event){
                case 'add-member':
                    layer.open({
                        title: '添加',
                        type: 1,
                        area: ['40%','50%'],
                        shadeClose: true,
                        closeBtn: 0,
                        content: $('#add-member-form')
                    });
                break;
            };
        });
                
        element.on('nav(type)', function(elem) {
            type = elem.text();
            table.reload('goods', {
                url: 'ranking?type=' + type,
                height: function() {
                    var otherHeight = $('#header').outerHeight(); // 自定义其他区域的高度
                    return $(window).height() - otherHeight - 12; // 返回 number 类型
                }
            });
            table.resize('goods');
        });
        // 日期
        laydate.render({
            elem: '.demo-search-date'
        });
    
        form.on('submit(add-member-submit)', function(data) {
            var member_info = data.field;
            var msg = {
                "type": 'add',
                "info": member_info
            }
            fetch('http://localhost:8889/members', {
                method: 'Post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(msg)
            })
            .then(response => {
                if (!response.ok) {
                    throw Error('response not ok');
                }
                return response.json();
            })
            .then(rsp_data => {
                msg = '添加成功'
                // 显示
                layer.msg(msg, {
                    offset: '65px'
                });
            })
            .catch(error => {
                console.error(error);
            })
            return false; // 阻止默认 form 跳转
        });
    });
</script>
</body>
</html>
